html,
body {
  padding: 0;
  margin: 0;
  font-family: "Antonio", "League Spartan", sans-serif, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background: #070724;
  letter-spacing: normal;
}

h1 {
  font-family: "Antonio";
  font-size: 5em;
  line-height: 103px;
}

h2 {
  font-family: "Antonio";
  font-size: 2.5em;
  line-height: 52px;
}

h3 {
  font-family: "League Spartan";
  font-size: 1.5em;
  line-height: 25px;
}

h4 {
  font-family: "League Spartan";
  font-size: 1.2;
  line-height: 25px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  line-height: 22px;
}

a:hover {
  cursor: pointer;
}

a.external {
  text-decoration: underline;
}

p {
  font-family: "League Spartan";
  font-weight: 300;
  font-size: 1em;
  line-height: 22px;
}

p.citation {
  color: rgba(255, 255, 255, 0.2);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
